.main-banner {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 50px;
}

.main-banner > h1 {
  margin-bottom: 20px;
}

.main-youtube {
  width: 100%;
}

.main-title {
  font-size: 35px;
  font-weight: 900;
  margin: 10px 0;
}

.video-overview {
  max-width: 350px;
  line-height: 20px;
}

.main-video {
  width: 1000px;
  margin: 20px auto;
}
