header {
  /* background-color: pink; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.nav {
  max-width: 1400px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logo-title {
  font-size: 24px;
  font-weight: 800;
  color: rgb(19, 204, 6);
  cursor: pointer;
}

.nav-right button {
  font-size: 12px;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background-color: transparent;
  margin-right: 5px;
}

.login-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.signIn-btn {
  background-color: rgb(19, 204, 6);
}

.signIn-btn:hover {
  background-color: rgba(19, 204, 6, 0.8);
}

.side-menu {
  visibility: hidden;
  background-color: rgb(221, 221, 221);
  width: 225px;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 40px 10px;
  transition: all 0.3s;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  transform: translate(-225px, 0px);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 0px);
  transition: all 0.3s;
}

.side-menu > p {
  width: 90px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
  padding: 3px 5px;
}

.close-icon {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top: 10px;
  left: 13px;
}

.close-icon:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}

.nav-black {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 225px);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
  transform: translate(-225px, 0);
}

.black-show {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  transform: translate(0px, 0px);
}
